.c-header_nav {
	display: flex;
	z-index: 36;
	position: relative;
    padding: 40px  $paddingOne 0;


  @media (min-width:320px) {
    padding: 40px  $paddingThree 24px $paddingThree;
  }
  @media (min-width:480px) {
    padding: 40px  $paddingTwo 24px $paddingTwo;
  } 
  @media (min-width:1024px) {
    padding: 40px  0 24px 0;
  }


	.c-header_nav_item {
	    flex: 0 auto;
	    display: flex;
	    align-items: center;
	} 	
	.c-header_nav_item.-first-menu {
		margin-right: auto;
	}				
	.c-header_nav_item.-menu  {
		.c-header_nav_ul_am {
			margin-bottom: 0;		
	
		li {
			display: inline-block;
			vertical-align: middle;
			margin-left: 0;
			position: relative;
      @media (min-width:320px) { 
         height: 52px;
         width: 52px;
      }      
      @media (min-width:1152px) { 
			   height: 70px;
			   width: 70px;
      }
			border: 2px solid $colorTwo;
			&.c-ecwid_item.c-cart {
				margin-left: -6px;
				background: #FFF;
			}
			ul.c-account-management_submenu {
				background: #FFF;
				li {
			vertical-align: middle;
			margin-left: 0;
			position: relative;
			height: 100% !important;
			width: 100% !important;
			border: none !important;
				}
			li.-not-connected {
				display: none !important;
			}				
			}
		}
	}
		}
	.c-cart {
		position: relative;
		.ec-cart-widget {
			position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);	
    	.ec-minicart--no-shape {
        @media (min-width:320px) { 
            padding: 8px 6px 6px 6px !important
        }
        @media (min-width:960px) { 
    		    padding: 15px 15px !important;
        }
    	}	
		}
		.ec-minicart__counter {
		    top: unset !important;
		    bottom: -2px !important;
		    font-size: 12px !important;
    left: 34px;
    font-size: 12px;
    bottom: 9px !important;		    
		}
	}
}

html#ecwid_html body#barba\-wrapper .ec-minicart--xs .ec-minicart__counter::after, html#ecwid_html body#barba\-wrapper .ec-minicart--s .ec-minicart__counter::after, html#ecwid_html body#barba\-wrapper .ec-minicart--m .ec-minicart__counter::after, html#ecwid_html body#barba\-wrapper .ec-minicart--l .ec-minicart__counter::after, html#ecwid_html body#barba\-wrapper .ec-minicart--xl .ec-minicart__counter::after, html#ecwid_html body#barba\-wrapper .ec-minicart--xxl .ec-minicart__counter::after {
	background-color: $colorZero !important;
}

html#ecwid_html body#barba\-wrapper .ec-minicart--xs .ec-minicart__counter:hover::after, html#ecwid_html body#barba\-wrapper .ec-minicart--s .ec-minicart__counter:hover::after, html#ecwid_html body#barba\-wrapper .ec-minicart--m .ec-minicart__counter:hover::after, html#ecwid_html body#barba\-wrapper .ec-minicart--l .ec-minicart__counter:hover::after, html#ecwid_html body#barba\-wrapper .ec-minicart--xl .ec-minicart__counter:hover::after, html#ecwid_html body#barba\-wrapper .ec-minicart--xxl .ec-minicart__counter:hover::after {
	background-color: $colorOne !important;	
}


	.c-header_nav svg.icon-default path {
		stroke: #2a2a2a !important;
	}


html#ecwid_html body#barba\-wrapper .ec-minicart__icon .icon-default circle[fill].cart-not-empty {
	fill: #82B640 !important;
}


	.c-account-management_svg {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);		
		path {
			fill: #2a2a2a;
		}
	}



.c-menu_main-desktop {
    @media (min-width:320px) { 
        display: none;        
    }    
    @media (min-width:1024px) { 
        display: flex;  
    }    

	ul {
		margin-bottom: 0;
		width: 100%;
		li {
			display: inline-block;
			    	@media (min-width:1024px) { 
			margin-right: 14px !important;
		}			
			    	@media (min-width:1280px) { 
			margin-right: 20px !important;
		}
    vertical-align: middle;
    margin-left: 0;
    position: relative;
    border: none !important;	
    width: auto !important;
    height: auto !important;	
    &:last-child {
    	margin-right: 0;
    }
    a {
		color: $colorTwo;
    	text-decoration: none;
    	@media (min-width:1024px) { 
			font-size: 17px;
    	}
    	@media (min-width:1280px) { 
    		font-size: 20px;
    	}
		}
    }
	}
}
.c-menu_main {
	margin-bottom: 0;
	z-index: 1;
    	@media (min-width:320px) { 
			display: block;
    	}
    	@media (min-width:1024px) { 
    		display: none; 
    	}
	li {
		vertical-align: middle;
	}
	li.c-language-switcher {
    @media (min-width:320px) { 
        display: none;        
    }    
    @media (min-width:960px) { 
        display: inline-block;        
    }    
		margin-left: 24px;
		padding: 21px 0;
		a {
			color: $colorTwo;
			text-decoration: none;			
		}
	}
}	
.js-menu-active   {
	overflow-y: hidden;
	overflow-y: hidden;
	.c-header_nav svg.icon-default path {
		stroke: #fff !important;
		    transition:stroke .2s ease 0s, all 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) !important;
	}
	.c-account-management_svg {
		path {
			fill: #fff;
			    transition: all 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}
	}
.c-header_nav {
	.c-header_nav_item.-menu .c-header_nav_ul_am {
		li {
    border-color: #FFF;
    transition: all 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); 
    &.c-cart {
    		background: transparent;	
		}
    }
	}
}


.c-menu_main li.c-language-switcher a{
    color: #FFF;
    transition: all 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
}
.c-home {

.c-header_nav {

  @media (min-width:320px) {
  padding: 40px  $paddingThree 12px;
  }
  @media (min-width:480px) {
  padding: 40px  $paddingTwo 12px;
  } 
  @media (min-width:1024px) {
  padding: 40px  0 12px;
  }  
	position: relative;
	&:before {
	position: absolute;
	height: $paddingOne;
	width: 100%;
	background: #FFF;
	z-index: 23424234
	}
}


.c-menu_main {
	li.c-language-switcher {
		a {
		color: #FFF;
		}
	}
}


.c-ecwid_item.c-cart {
				background: transparent !important;
			}


}




.c-header_logo {
  	@media (min-width:320px) { 
		max-width: 70px;
		margin-right: 14px;
	&.-device {
		display: inline-block;
	}
		
  	}  
  	@media (min-width:1024px) { 
  				margin-right: 0;
		max-width: 96px;
  	} 


  	@media (min-width:1152px) { 
		max-width: 129px;
		margin-right: 28px;
		
  	}
	transition: max-width 0.2s linear;
}

.c-account-management {
	position: relative;
	.c-account-management_submenu {
		display: none;
		position: absolute;
		width: 204px;
		right: -2px;
	    padding: 14px 32px;
	    background: #FFF;
	    margin-left: 0;
	    z-index: 9;
	    top: 66px;
	    border: 2px solid $colorTwo;
	    li {
	    	display: block;
	    }
		a {
			font-size: 18px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 600;
			letter-spacing: 0.64px;
			text-decoration: none;
			color: #2A2A2A;
			display: block !important;
		}
	}	
	&:hover {
			cursor: pointer;
	}
}

    @media (min-width:320px) { 
      .c-header_nav_ul_am li.c-account-management {
        display: none !important;
      }
    } 
    @media (min-width:960px) { 
      .c-header_nav_ul_am li.c-account-management {
        display: inline-block !important;
      }
    }

header {
	position: relative;
.c-menu {
    position: fixed;

  @media (min-width:320px) {
    width: 100vw;
  }
  @media (min-width:480px) {
    width: 100vw;
  } 
  @media (min-width:1024px) {
    width: 100vw;
  }

    top: 200vh;
    @media (min-width:320px) {
    	padding-top: 140px;
    	padding-bottom: 56px;
    }		    
    @media (min-width:960px) {
    	padding-top: 240px;
    }		
    background: rgba(26,26,26,0.98);
    height: 100vh;
	transition: top 0.5s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955), z-index 0s 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	z-index: 6;
	.c-menu_wra {
  @media (min-width:320px) {
    width: 100vw;
        padding: 0 $paddingThree;
        padding-bottom: 64px;
  }
  @media (min-width:480px) {
    width: 100vw;
        padding: 0 $paddingTwo;
        padding-bottom: 64px;
  } 
  @media (min-width:1024px) {
    width: 100vw;
        padding: 0 $paddingOne;
        padding-bottom: 64px;
  }
	ul {
		list-style-type: none;
		margin: 0;
		li {
			@media (min-width:320px) {
				margin-bottom: 24px;
				display: block;
				padding: 0;
			}			
			@media (min-width:960px) {
				margin-bottom: 56px;
			}
		}
	}
	a {
		color: #D8D8D8;
		font-size: 28px;
		text-decoration: none;
		&:hover {
			color: #FFF;
		}
	}
}
}
}



.js-menu-active {
	top: 0;
	position: fixed;
	overflow-y: hidden;
	width: 100%;
	.c-menu {
		overflow-y: auto;
	top: 0;
		transition: top 0.45s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955),z-index 0s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}

.c-first-element {
	margin-top: 40px;
}

.c-language-switcher {
	a {
		font-size: 18px;
	}
}

			@media (min-width:320px) {	
	.c-device_link {
		display: block !important;
	}
}	
	@media (min-width:960px) {	
	.c-device_link {
		display: none !important;
	}
}
	.c-roll {
		top: -100%;
	}

	.hamburger-box,
	 {
		border-color: #FFF;
		transition: border-color 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}
	    .hamburger-inner::before,
    .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {

    }
}

.ecwid-customer-loggedIn .c-connect.c-link {
	display: none !important;  
}


.ecwid-customer-loggedOut {
	.c-account,
	.c-logout {
		display: none !important;
	}
}



.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned {
    top: 0;
}

.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned,
.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned {
    position: fixed;
    width: 100%;
    padding-top: 0;
    background: rgba(255,255,255,0.7);
    	
    z-index: 9993;	
    .c-header_nav {
    	padding-top: 54px;
    	padding-bottom: 18px;
    }

    .c-header_logo {
    	max-width: 70px;
    }    
}



.homePage {
.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned,
.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned {
background: rgba(26,26,26,0.7);

}	
}

.js-menu-active {
.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned,
.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned {
    transition: background 0s 0.3s linear;
	background: transparent;
	
}	

.homePage {
.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned,
.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned {
    transition: background 0s 0.5s linear;
	background: transparent;
	
}	
}


}

.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned {

    top: 0;

}


.js-menu-active {
	.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned,
	.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned {
    top: 0;

	}
}


.c-menu-001:before {
	position: absolute;
	content: "";
	height: 120%;
  @media (min-width:320px) {
    width: $paddingThree;
  }
  @media (min-width:480px) {
    width: $paddingTwo;
  } 
  @media (min-width:1024px) {
    width: $paddingOne;
  }
	background: #FFF;
	top: 0;
}

.c-menu-001:after {
	position: absolute;
	content: "";
	height: 120%;
  @media (min-width:320px) {
    width: $paddingThree;
  }
  @media (min-width:480px) {
    width: $paddingTwo;
  } 
  @media (min-width:1024px) {
    width: $paddingOne;
  }
	background: #FFF;
	top: 0;
	right: 0;
}

.c-menu-001.animated.headroom.headroom--not-top.headroom--bottom.headroom--unpinned{
    position: fixed;
    top: 0;
    display: block;
    visibility: hidden;
    display: none;
}

.c-menu-001.headroom.headroom--not-top.headroom--bottom.headroom--unpinned {
	display: none;
}

.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned,
.c-menu-001.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned {
	.c-header_nav {
    	top: 0 !important;
	}
}	

.c-banner_homepage {
	padding-top: $paddingOne;
}

body {
	// position: relative;
	// &:before {
 //    position: fixed;
 //    content: "";
 //    height: $paddingOne;
 //    width: 100%;
 //    background: #FFF;
 //    top: 0;
 //    z-index: 21234;
	// }
 //  &:after {
 //    position: fixed;
 //    content: "";
 //    height: $paddingOne;
 //    width: 100%;
 //    background: #FFF;
 //    bottom: 0;
 //    z-index: 21234;
 //  }  
}


html#ecwid_html body#barba\-wrapper .ec-minicart--m .ec-minicart__counter {

    @media (min-width:320px) { 
        left: 20px !important;
            top: 27px !important;
    }    
    @media (min-width:960px) { 
        left: 28px !important;
            top: 26px !important;
    }
}