/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

$colorZero 	: #C1CC29;
$colorOne 	: #748F34;
$colorTwo 	: #2A2A2A;
$colorThree	: #FFFFFF;
$colorFour 	: #EBEBEB;
$colorFive	: #F1F3FA;
$colorSix	: #AAAAAA;



$paddingOne : 36px;

$paddingTwo : 24px;
$paddingThree : 12px;



	@mixin space() {
		@media (min-width:1280px) { 
			margin-top: $space-one;
		}
	}	


html {
  font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
  line-height: $inuit-global-line-height / $inuit-global-font-size; /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
font-family: poppins, sans-serif;
color: $colorTwo; 
}

main {
	a {
		text-decoration: none;	
		color: #46823C;
		&:hover {
			text-decoration:underline;
		}
	}
}


html#ecwid_html body#barba\-wrapper div.ecwid-productBrowser {
	padding: 0 !important;
}




.c-border {
	@media (min-width:320px) {
		padding-right: $paddingThree;
		padding-left: $paddingThree;
		margin-bottom: $paddingOne;
	}
	@media (min-width:480px) {
		padding-right: $paddingTwo;
		padding-left: $paddingTwo;
		margin-bottom: $paddingOne;
	}	
	@media (min-width:1024px) {
		padding-right: $paddingOne;
		padding-left: $paddingOne;
		margin-bottom: $paddingOne;
	}
	overflow: hidden;
}

	@mixin paddingZero() {
	@media (min-width:320px) {
		padding-right: $paddingThree;
		padding-left: $paddingThree;
	}
	@media (min-width:480px) {
		padding-right: $paddingTwo;
		padding-left: $paddingTwo;
	}	
	@media (min-width:1024px) {
		padding-right: $paddingOne;
		padding-left: $paddingOne;
	}	
}

	@mixin widthZero() {
	@media (min-width:320px) {
		width: $paddingThree;
	}
	@media (min-width:480px) {
		width: $paddingTwo;
	}	
	@media (min-width:1024px) {
		width: $paddingOne;
	}
	}	

header {
	border-bottom: $paddingOne;
}


$space-one : 160px;

$menuWith	: calc(100% - ($paddingOne * 2));



.u-color-zero {
	color: $colorZero;
}

.u-color-three {
	color: $colorThree
}

.u-text-uppercase {
	text-transform: uppercase;
}

.u-text-center {
	text-align: center;
}

	@mixin mixingBottom() {
		@media (min-width:20em) { 
			margin-bottom: $space-one;
		}
	}	
	@mixin mixingTop() {
		@media (min-width:20em) { 
			margin-top: $space-one;
		}
	}		

.c-section {
    h1,
    h2.c-page-title  {
 @media (min-width:320px) { 
            margin-top: -72px;          
    }
    @media (min-width:375px) { 
            margin-top: -72px;        
    }  
    @media (min-width:400px) { 
            margin-top: -74px;        
    }   
    @media (min-width:480px) { 
            margin-top: -76px;         
    }          
    @media (min-width:600px) { 
            margin-top: -78px;         
    }         
    @media (min-width:720px) { 
            margin-top: -82px;         
    }       
    @media (min-width:840px) { 
            margin-top: -86px;         
    }       
    @media (min-width:960px) { 

    }       
    @media (min-width:1024px) { 
            margin-top: -88px;        
    }     
    @media (min-width:1280px) { 

    }               
    @media (min-width:1440px) { 
        margin-top: -93px;
    }
    position: absolute;
    line-height: 56px;    	
    }
    .c-background {
    padding-top: 56px;
    margin-top: 40px;    
    padding-bottom: 72px;	
    }
}	 

.c-background.-one	{
	background: #EBEBEB;
}    
.c-background.-two	{
	background: #F1F3FA;
}  
.c-background.-three	{
	background: #AAAAAA;
}    

.c-background.-sb	{
	background: #e3e3e3;
}    

	@media (min-width:1440px) { 
.c-page_wrap {
	padding-left: 156px;
}

.c-page-padding_two {
	padding-left: 106px;
}

.c-page-padding_three {
	padding-left: 223px;
}
	}




.c-wrapper-zero {
	max-width: 1243px;
}


.o-wrap-zero {
	max-width: 1316px;
}
.o-wrap-one {
	max-width: 1218px;
}
.o-wrap-two {
	max-width: 1243px;

}
.o-wrap-three {
	max-width: 933px;
	margin: 0 auto;
}
.o-wrap-four {
	max-width: 1168px;
}
.o-wrap-five {
	max-width: 820px;
	margin: 0 auto;
}
.o-wrap-six {
	max-width: 1268px;
}

