section.c-content {
	@include mixingBottom();
}
div.c-content {
	padding-bottom: 80px;
}	

.c-points-of-sale {
	position: relative;
.c-map {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: $paddingOne;
    padding-left: 126px;	
}
}