.c-img-content {
	@include mixingBottom();
}

#js-delivery-schedule {
	background: yellow;
	height: 585px;
}

#zip {
	max-width: 240px !important;
	text-align: center;
	padding-left: 12px;
	padding-right: 12px;
	text-transform: uppercase;
}

.c-zip-code {
	display: none;
}