.c-our-producers {
	@include paddingZero();
	.c-our-producers_wrap {
		background: #EDF6E5;
		padding: 88px 0 108px;		
		h2 {
			text-align: center;
			margin-bottom: 80px;
		}	
		.c-our-producers_content {
			max-width: 240px;
			margin:0 auto;
			img {
				border-radius: 100%;
			}
		}
	}
}