section.c-content {
	@include mixingBottom();
}

.c-points-of-sale {
	position: relative;
.c-map {

    top: 0;
    right: 0;
	@media (min-width:320px) {
		padding-right: 0;
		padding-left: 0;
	}
	@media (min-width:1024px) {
		    position: absolute;
		padding-right: $paddingOne;
		    padding-left: 64px;	
	}

}
}