.c-txt-img_wrap {
	@media (min-width:1024px) { 
		background: #FCF7F1;
	}	
	position: relative;
	.c-txt-img_img {
		&.-page {
			height: 766px;
			.o-wrap-zero {
				position: absolute;
				height: 766px;
				width: 100%;
			}
		}
		&.-delivery {
			height: 859px;
			.o-wrap-zero {
				position: absolute;
				height: 859px;
				width: 100%;
			}
		}		
		&.-home {
			height: 590px;
			.o-wrap-zero {
				position: absolute;
				height: 590px;
				width: 100%;
			}			
		}
		&.-delivery-two {
			height: 719px;
			.o-wrap-zero {
				position: absolute;
				height: 719px;
				width: 100%;
			}			
		}
		&.-delivery-three{
			height: 960px;
			.o-wrap-zero {
				position: absolute;
				height: 960px;
				width: 100%;
			}			
		}		
		}		
	.c-txt-img_img {
		width: 100%;
		height:590px;
		background-size: cover !important;

		&.-home {
			height: 590px;
		}		
		&.-img {
			background-position: center right !important;
		}
	}
	&.-img {
		.o-wrap-zero {
	    	// padding-right: $paddingOne;
		}
	}
	.c-txt-img_txt {
			@media (min-width:320px) {
				margin-bottom: 36px;
			}
				@media (min-width:1024px) { 
	    position: absolute;
	    transform: translate(0%,-50%);
	    top: 50%;
	    margin-bottom: 0;
	}
	    &.-img {
	    	right: 0;	
	    	.c-txt-img_txt_wrap{

	    	}
	    }
		.c-txt-img_txt_content {
			background: $colorThree;
	@media (min-width:320px) {
		padding: $paddingOne $paddingThree;
	}
	@media (min-width:480px) {
		padding: $paddingOne $paddingTwo;
	}	
	@media (min-width:1024px) {
		padding: $paddingOne;
	}
			p:last-child {
				margin-bottom:0;
			}
		}
	}
	@media (min-width:320px) { 
		.o-wrapper {
	    	position: unset;
	    	height: unset;
	    	left: unset;
	    	transform: none;
	    	width: unset;
	    	padding: 0;
		}
	}	
	@media (min-width:1024px) { 
		.o-wrapper {
	    	position: absolute;
	    	height: 100%;
	    	left: 50%;
	    	transform: translate(-50%,0);
	    	width: 100%;
	    	padding: 0 36px;
	    	top: 0;
		}
	}
}