.c-our-producers {
	padding-right: $paddingOne;
	padding-left: $paddingOne;	
	.c-our-producers_wrap {
		background: #EDF6E5;
		padding: 88px 0 108px;		
		h2 {
			text-align: center;
			margin-bottom: 80px;
		}	
		img {
			border-radius: 100%;
		}
	}
}