.c-our-products {
	position: relative;
	.c-background {padding-bottom: 0 !important;}
	&:before {
		position: absolute;
		content: "";
		@include widthZero();
		background: #FFF;
		left: 0;
		top: 0;
		z-index: 99;
		height: 100%;
	}
	&:after {
		position: absolute;
		content: "";
		height: 100%;
		@include widthZero();
		background: #FFF;
		right: 0;
		top: 0;
		z-index: 99;
	}	
}







.c-products {
	opacity: 1;
	.c-products_categories_nav {
		background: #fff;
		padding: 32px;
		ul {
			list-style-type: none;
			margin-left: 0;
			margin-bottom: 0;
			li:first-child,
			li:nth-child(2)  {
				margin-bottom: 24px;

			}

> li:nth-child(2) > .c-parent {
&:after {
	display:none;
			}				
			}	



			li {
				margin-bottom: 8px;
				.c-parent {
					margin-bottom: 0 !important;
					position: relative;
					display: inline-block;
color: #2a2a2a;
    text-decoration: none;
    line-height: 22px;
    font-size: 14px;					
					&:hover {
						cursor:pointer;
					}
					&:after {
position: absolute;
    content: "";
    right: -24px;
    background: url(../images/icons/fermes-valens_icons.svg);
    width: 12px;
    height: 9px;
    background-position: -129px -68px;
    top: 50%;
    margin-top: -4px;
transition: all 0.3s linear;
					}
					&.js-parent-active {
						&:after {
							transform: rotateX(180deg);

						}
					}
				}				
			}
			ul {
> li:nth-child(2) > .c-parent {
&:after {
	display:block;
			}				
			}	

			li:first-child,
			li:nth-child(2)  {
				margin-bottom: 8px;

			}	
				margin-left: 16px;
				ul {
					margin-left: 16px;
					display: none;
					margin-bottom: 20px;
					li:last-child {
						margin-bottom:0;
					}
				}
			}
		}
		a {
		    color: #2a2a2a;
		    text-decoration: none;
		    line-height: 22px;
		    font-size: 14px;
		}
	}


		.ec-page-title {
			margin-bottom: 40px !important;
		}





		.grid__products {
  display: block;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  list-style: none;
  /* [1] */
  margin-left: -24px !important;
  margin-right: 0 !important;
  /* [3] */
  font-size: 0; 	
  /* [1] */
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;


			.grid-product {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  /* [1] */
  display: inline-block !important;
  /* [2] */
  vertical-align: top !important;
  /* [3] */
  width: 100% !important;
  /* [4] */
  padding-left: 24px !important;
  /* [5] */
  font-size: 16px !important;
  /* [6] */
  font-size: 1rem !important;	
  margin-bottom: 24px !important;		
  padding-bottom: 70px !important;
  position: relative !important;
  	background: #FFF !important;
&:after {
	position: absolute !important;
	content: "" !important;
	width: 24px !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	background: $colorFour;
}
		@media (min-width:600px) { 
			width:50% !important;
		}
		@media (min-width:1160px) { 
			width:33.33% !important;
		}
		@media (min-width:1440px) { 
			width:25% !important;
		}


				.grid-product__wrap {
					padding: 0 !important;
					position: static !important;
					.grid-product__wrap-inner {
						position: static !important;
						background: #FFF !important;
						.grid-product__title-inner,
						.grid-product__price,
						.grid-product__button.grid-product__buy-now {
							padding: 0 24px !important;
							text-align: left;
						}
						.grid-product__title-inner {
							padding-top: 24px !important;
							margin-top: 0 !important;
							margin-bottom: 8px !important;
							position: relative !important;
							z-index: 2342;
						}						
						.grid-product__price-amount {
							font-size: 16px !important;
							margin-bottom: 12px !important;
							position: relative !important;
							z-index: 2342;							
						}
						.grid-product__button.grid-product__buy-now {
							text-align: right !important;
							position: absolute !important;
							bottom: 24px;
							right: 0;
							width: 100% !important;

						}
						.grid-product__title {
							margin-top: 0 !important;
						}
						.form-control.form-control--button.form-control--small.form-control--secondary.form-control--animated.form-control--done {
						    margin-top: 0 !important;
							.form-control__button {
								min-width: 12px !important;
							    letter-spacing: 1.44px !important;
						    	text-decoration: none !important;
						    	color: #2A2A2A !important;
						    	// padding-right: 48px !important;		
						    	position: relative !important;
								font-weight: 700 !important;
								border-radius: 0 !important;
								min-height: 28px !important;
						    	// &:after {
								   //  position: absolute;
								   //  content: "";
								   //  right: 0;
								   //  top: 10px;
								   //  background: url(../images/icons/fermes-valens_icons.svg);
								   //  width: 29px;
								   //  height: 10px;
								   //  background-position: -220px -20px;   
								   //  } 		
							}						    
						}
					}
				}			

			}
		}
	}





	.c-sidebar {
		display: none;
		width: 360px;

	}	



.grid__categories {
	display: none !important;
}

.-js-c-category  {
	position: relative;
	.c-sidebar,
	.c-product_info {
		display: inline-block;
	}
	@media (min-width:320px) and (max-width:959px) { 
		.c-sidebar {
		    display: inline-block;
		    position: absolute;
		    width: calc(100% - 48px);
		    height: 100vh;
		    left: calc(-100% - 48px);
		    top: 48px;
		    z-index: 243;
		    padding: 0 !important;
		    background: rgba(26,26,26,0.7);
		    		transition: left 0.3s linear;
		    &.-js-filter-active {
		    			transition: left 0.3s linear;
		    	left: 24px;
		    }
		}
	}
	@media (min-width:960px) { 
		.c-sidebar {
    display: inline-block;
    position: relative;
    left: 0;
    width: 360px;
		}
	}

.c-sidebar,
.ecwid-productBrowser-CategoryPage {
	padding-bottom: 48px !important;
}

	&.c-products {
		opacity: 1;
		@media (min-width:320px) { 
			.c-product_info {
				width: 100%;
				max-width: 400px;
			}
		}		
		@media (min-width:600px) { 
			.c-product_info {
				max-width: 720px;
			}
		}
		@media (min-width:960px) { 
			.c-product_info {
				width: calc(100% - 360px);	
				max-width: 100%;
			}
		}



	}
}


.ec-related-products__products.ec-grid {
		.grid__products {
			.grid-product {
		@media (min-width:580px) { 
			width:50% !important;
		}
		@media (min-width:820px) { 
			width:33.33% !important;
		}		
		@media (min-width:1124px) { 
			width:25% !important;
		}
		@media (min-width:1340px) { 
			width:20% !important;
		}
				&:after {
					background: $colorSix !important;
				}		
				}
				}	

}





html#ecwid_html body#barba\-wrapper div.ecwid-productBrowser-CategoryPage {
	padding-bottom: 48px !important;
}
.-js-c-product {
	.c-sidebar {
		display: none;
	}	
	&.c-products {
		opacity: 1;
	}
}


.ec-breadcrumbs {
	display: none !important;
}

html#ecwid_html body#barba\-wrapper .ec-size .ec-store.ec-store__checkout-page .ec-cart__sidebar-inner {
	position: static !important;
}

.about,
.homePage,
.career,
.delivery,
.contactUs,
.pointsSale {
	.popupContent {
		display: none !important;
	}
}

.ec-cart__sidebar-inner .ec-page-title h1,
.ec-cart__body-inner .ec-page-title h1 {
	display: none !important;
}

div#ecwid_yotpo_rating a {
	color: #2A2A2A !important;
	text-decoration: underline !important;
}

.ecwid-search-widget.ecwid-search-widget--collapsed {
	margin-bottom: 20px !important;
	display: inline-block !important;
}

.svg-line-check {
	stroke: #46823C !important;
}


html#ecwid_html body#barba\-wrapper .ec-size .ec-store .grid-product__wrap-inner:hover .grid-product__picture {
	transform: none !important;
}

.ecwid-SingleProduct-v2 {
	background: transparent !important;
}


.c-filter {
	display: none;
}

.-js-c-category .c-filter {
			@media (max-width:959px) { 
	display: block;
	position: relative;
	z-index: 8
}
}

		@media (max-width:959px) { 
html {
	position: relative;
	&:after {
		position: absolute;
    content: "";
    height: 100%;
    width: calc(100vw - 48px);
    background: rgba(26,26,26,0.7);
    transition: left 0.5s linear;
    z-index: 4;
    top: 0;
    left: -200vw;

}
}
html.-js-hfilter-active {
	position: relative;
	&:after {
		position: absolute;
    content: "";
    height: 100%;
    width: calc(100vw - 48px);
    background: rgba(26,26,26,0.7);
    transition: left 0.2s linear;
    z-index: 4;
    top: 0;
    left: 24px;
}
	}
}