.c-content-delivery {
	padding-right: $paddingOne;
	padding-left: $paddingOne;	
	.c-background {
		padding-top: 48px;
		padding-bottom: 64px;
		text-align: center;
		h2 {
			position: relative;
			padding-top: 80px;
			&:before {
			    position: absolute;
			    content: "";
			    left: 50%;
			    transform: translate(-50%,0);
			    top: 0;
			    background: url(../images/icons/fermes-valens_icons.svg);		
			    width: 42px;
			    height: 37px;
			    background-position: -73px -11px;			    		
			}
		}
	}
}

.c-array {
	display: none;
}

.c-our-producers_info {
	text-align: center;
	.c-our-producers_img {
	margin-bottom: 48px;
	}
	h3 {
		margin-bottom: 20px !important;
	}
}



.ecwid-AddressBook-blockContainer:first-child {
	width: 100% !important;
		.ecwid-AddressBook-block {
			padding-bottom: 0 !important;
			height: 120px !important;
					div.ecwid-AddressBook-addButton {
						height: 100% !important;
						width: 100% !important;
						div {
							top: 0 !important;
							padding: 29px 20px !important;
						}
					}
		}		
}

.ecwid-AddressBook-blockContainer {
		@media (min-width:320px) { 
			width:100% !important;
			padding-right: 0 !important;
		}		
		@media (min-width:1024px) { 
			width:50% !important;
			padding-right: 20px !important;
		}
		@media (min-width:1280px) { 
			width:33.33% !important;
		}

		.ecwid-AddressBook-block {
			background: #FFF !important;
					padding-bottom: 20px !important;	
		}
}
.ecwid-productBrowser.ecwid-productBrowser-AddressBookPage .ecwid-Account-content {
			@media (min-width:1024px) { 
	width: calc(100% + 20px) !important;
}
}


html#ecwid_html body#barba\-wrapper div.ecwid-fieldWrapper label.ecwid-fieldLabel {
	width: 100% !important;
	max-width: 100% !important;
	text-align: left !important;
}

html#ecwid_html body#barba\-wrapper div.ecwid-fieldWrapper table {
	width: 100% !important;
	max-width: 100% !important;
	text-align: left !important;
}

html#ecwid_html body#barba\-wrapper div.ecwid-AddressForm div.ecwid-note {
}

html#ecwid_html body#barba\-wrapper div.ecwid-EditPersonPopup div.ecwid-popup-content {
	padding: 5px 20px 20px !important;
}

html#ecwid_html body#barba\-wrapper div.ecwid-AccountSettings .ecwid-AccountSettings-NameAndEmail, html#ecwid_html body#barba\-wrapper div.ecwid-AccountSettings .ecwid-AccountSettings-TaxId, html#ecwid_html body#barba\-wrapper div.ecwid-AccountSettings .ecwid-AccountSettings-Password,
.ecwid-form {
	width: 100% !important;
	max-width: 100% !important;
}

html#ecwid_html body#barba\-wrapper div.ecwid-Orders {
	max-width: 100% !important;
}

html#ecwid_html body#barba\-wrapper td.ecwid-OrdersList-OrderBox-header {
	background-color: $colorFour !important;
}


html#ecwid_html body#barba\-wrapper td.ecwid-OrdersList-OrderBox-cellEven,
html#ecwid_html body#barba\-wrapper td.ecwid-OrdersList-OrderBox-footer {
	background-color: #e3e3e3 !important;
}

html#ecwid_html body#barba\-wrapper td.ecwid-OrdersList-OrderBox-price {
	color: $colorOne !important;
}

html#ecwid_html body#barba\-wrapper td.ecwid-DateRangeBox-range {
	padding: 19px 10px !important;
}


html#ecwid_html body#barba\-wrapper div.ecwid-form {
	background: #FFF !important;
	margin-bottom: 40px !important;
}


.ecwid-AddressForm {
	background-color: $colorFour !important;
}

.c-list-point_li {
	.c-map-p {
		font-size: 16px;
		margin-bottom: 12px;
	}
	h5 {
		margin-bottom: 16px;
	}
	.marker {
		color: $colorOne;
		margin-bottom: 32px;
		display: inline-block;
		&:hover {
			cursor: pointer;
		}
	}
}


.ec-footer a:hover svg path {
	fill: #46823C;
}



.ecwid-OrdersList-OrderBox {
	font-size: 14px !important;
	// width: calc(100% - 54px) !important;
	.ecwid-OrdersList-OrderBox-cell.ecwid-OrdersList-OrderBox.ecwid-OrdersList-OrderBox-thumbnail,
	.ecwid-OrdersList-OrderBox-cell.ecwid-OrdersList-OrderBox-unavailable.ecwid-OrdersList-OrderBox-thumbnail {
				@media (max-width:781px) {	
		display: none !important;
	}
	}
		@media (max-width:780px) {   
	min-width: 272px !important;
}
table {

}

}

.ecwid-Orders-SearchPanel {
	@media (min-width:320px) and (max-width:827px) {   
		td:first-child {
			td {
				width: 100% !important;
			}
.ecwid-DateRangeBox {
	td {
						width: 100% !important;
						&.ecwid-DateRangeBox-icon {
							width: 53px !important;
						}
						&.ecwid-DateRangeBox-range {
							width: 113px !important;
						}
	}
}

		}
}	
	@media (min-width:828px) and (max-width:877px) {   
		td:first-child {
			td {
				width: 50% !important;
			}
		
		}
		td:last-child {
			width: 25% !important;
		}	
}
@media (max-width:877px) {	
	tr > td[align="right"]:last-child {
		margin-left: 0 !important;
	}
}	
@media (min-width:877px) {	
	tr > td[align="right"]:last-child {
		margin-left: 20px !important;
	}
}	
			@media (min-width:320px) and (max-width:480px) {
button,input {
    min-width: 272px !important;
    padding: 0 !important;
    width: 100% !important;
    margin-bottom: 8px !important;
    padding: 0 !important;
}
button.ecwid-btn.ecwid-btn--secondary.ecwid-btn--orders {
	font-size: 14px !important;
}
}
			@media (min-width:481px) and (max-width:827px) {

button,input {
	width: 100% !important;
	    max-width: 100% !important;
	        margin-bottom: 8px !important;
}
}
input {
	padding: 0 !important;
}
}





html#ecwid_html body#barba\-wrapper div.ecwid-Orders-SearchPanel .ecwid-DateRangeBox {
		@media (min-width:320px) and (max-width:877px) { 
		margin-left: 0 !important;
}
html#ecwid_html body#barba\-wrapper div.ecwid-Orders-SearchPanel .ecwid-DateRangeBox {
			@media (min-width:834px) { 
	margin-left: 16px !important;
}

}
}	







html#ecwid_html body#barba\-wrapper div.ecwid-Orders-SearchPanel>table>tbody>tr>td:first-child {
		@media (max-width:827px) {	
	width: 100%;
}	
		@media (min-width:828px) and (max-width:876px) {	
	width: calc(100% - 20px);
}
}

.c-main {
span.gwt-InlineLabel.ecwid-ProductBrowser-auth-logged-name,
a.gwt-Anchor.ecwid-productBrowser-auth-accountLink,
.ecwid-productBrowser-head {
	display: none !important;
}
}
.ecwid-AddressForm {
			@media (max-width:799px) {	
.ecwid-form,
.ecwid-note {
	width: calc(100vw - 52px) !important;
}

}

			@media (min-width:657px) {	
.ecwid-form {
	width: 472px !important;

}
}


}
.ecwid-AccountSettings {

}



.ecwid-AccountSettings-NameAndEmail {
	.ecwid-form {
		width: auto !important;
		max-width: 500px !important;
	input {
	width: 97.5% !important;
	    max-width: 97.5% !important;		
	}		
	}
}






td.ecwid-OrdersList-OrderBox-cell.ecwid-OrdersList-OrderBox-cellEven,
td.ecwid-OrdersList-OrderBox-cell.ecwid-OrdersList-OrderBox-cellOdd {

	* {
		width: auto !important;
		text-align: left !important;
	}
}

			@media (max-width:536px) {	
				.ecwid-DateRangePopup-DateRangeLabel {
					margin-bottom: 12px !important;
				}
.ecwid-DateRangePopup-PresetsPanel tr td {
	width: 100% !important;
	display: inline-block !important;
}


html#ecwid_html body#barba\-wrapper .ecwid-DateRangePopup.ecwid tr td {
		display: inline-block !important;
}

.ecwid-DateRangePopup.ecwid {
	max-width: 274px !important;
}

table.ecwid-DateRangePopup-PresetsPanel {
    max-width: 242px !important;}
}

@media (min-width:537px) {	

				.ecwid-DateRangePopup-DateRangeLabel {
					margin-bottom: 0 !important;
				}


.ecwid-DateRangePopup.ecwid {
    width: 100% !important;
    max-width: 468px !important;
    table {
    	width: 100% !important;
    	max-width: 458px !important;
    }
}

	.ecwid-DateRangePopup-PresetsPanel { 
		tr td {
			width: 30% !important;
			display: table-cell !important;
		}
	}
}
